* {
    scroll-behavior: smooth;

}

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #6c5ce7;
    width: 100%;
    height: 100%;

}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid white;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;

}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}
nav {
    width: 100%;
    position: fixed;

}

.navbar {
    padding: .1rem;
    background-color: #6c5ce7;


}

.nav-head {

    font-weight: bold;
    border-radius: 2px;
    font-size: 1.5rem;
}

.nav-head:hover {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    background-color: black;
}

.navbar-nav li {
    padding-left: 30px;

}
 .scrolling-navbar {
     -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
     transition: background 0.5s ease-in-out, padding 0.5s ease-in-out
 }
.nav-link {
    font-size: 1;
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.nav-item,
active {
    color: yellow;
}

.area {
    background-color: black;
    width: 100%;
}

.carousel-item img {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation: immortalkenburns 30000ms linear 0s infinite alternate;
    animation: immortalkenburns 30000ms linear 0s infinite alternate
}


/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.navbar .navbar-collapse {
    text-align: center;
}

.circle {
    position: relative;
    overflow: hidden;
}

.circle.circle1 {
    width: 700px;
    height: 800px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.head3 {
    text-align: center;
    color: #e91e63;
    font-weight: bolder;

}

.hero {
    border-radius: 40%;
    width: auto;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.director {
    text-align: center;
    color: white;

}


#footer {
    padding: 0px !important;
    margin: 0px !important;
    background: #6c5ce7;
    color: white;
    width: 100%;
    padding-top: 10px !important;
}
.h4-responsive {
    font-size: 150%;
    
}

@media only screen and (max-width: 450px){
    .h4-responsive {
        font-size: 110%;

    }
}
@media only screen and (max-width: 360px){
    .h4-responsive {
        font-size: 90%;

    }
   
}
@media only screen and (max-width: 375px){
    .h4-responsive {
        font-size: 90%;

    }
}
@media only screen and (max-width: 280px){
    .h4-responsive {
        font-size: 30%;

    }
}
