@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
* {
    scroll-behavior: smooth;

}
body{
    font-family: 'Recursive',
    sans-serif;
}
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #6c5ce7;
    width: 100%;
    height: 100%;

}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid white;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;

}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

nav {
    width: 100%;
    position: fixed;

}
.imgHead{
    height: 60px;
}
.navbar {
    padding: .1rem;
    background-color: #103f6d;


}

.nav-head {

    font-weight: bold;
    border-radius: 2px;
    font-size: 1.5rem;
}

.nav-head:hover {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    background-color: black;
}

.navbar-nav li {
    padding-left: 30px;

}

.scrolling-navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out
}

.nav-link {
    font-size: 1;
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.nav-item,
active {
    color: yellow;
}

.area {
    background-color: black;
    width: 100%;
}

img.d-block{
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation: immortalkenburns 30000ms linear 0s infinite alternate;
    animation: immortalkenburns 30000ms linear 0s infinite alternate
}


/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 15px;
    display: none;
}


.navbar .navbar-collapse {
    text-align: center;
}

.circle {
    position: relative;
    overflow: hidden;
}

.circle.circle1 {
    width: 700px;
    height: 800px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.head3 {
    text-align: center;
    color: #e91e63;
    font-weight: bolder;

}

.hero {
    border-radius: 40%;
    width: auto;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.director {
    text-align: center;
    color: white;

}

.new{
    color: white !important;
}
#footer {
    padding: 0px !important;
    margin: 0px !important;
    background: #103f6d;
    color: white;
    width: 100%;
    padding-top: 10px !important;
    
}
.font-cursive {
    font-family: cursive;
}
p.mt-5 {
    font-size: 1rem;
}
.h4-responsive {
    font-size: 150%;

}
.text-center {
    font-size: 100%;
}

@media only screen and (max-width: 1024px) {
 .heroText{
     top: 25% !important;
 }
}

@media only screen and (max-width: 450px) {
    .h4-responsive {
        font-size: 110%;

    }
}

@media only screen and (max-width: 411px) {
   .display-3 {
       font-size: 3rem;
       font-weight: 300;
       line-height: 1.2;
   }
   .neW {
       font-size: .9rem;
   }
}

@media only screen and (max-width: 360px) {
    .h4-responsive {
        font-size: 90%;

    }
    .display-3 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
    }

}

    @media only screen and (max-width: 320px) {
        .h4-responsive {
            font-size: 90% !important;

        }
        .text-center {
            font-size: 60%;
        }

    }



@media only screen and (max-width: 375px) {
    .h4-responsive {
        font-size: 100%;

    }
    .text-center {
        font-size: 80%;
    }

}

@media only screen and (max-width: 280px) {
    .h4-responsive {
        font-size: 70% !important;

    }
    .nav-head {

     display: flex;
     height: 55px;
    }
    .text-center {
        font-size: 50%;
    }


}
.hm-gradient {
    background: linear-gradient(40deg, rgba(0, 51, 199, .3), rgba(209, 149, 249, .3));
}
.card-body .cardColor{
    background:  #103f6d;
}
.heroText{
     text-align: center;
     position: absolute;
     z-index: 1;
     color: white;
}
.card-img-caption .card-img-top{
    z-index: 0;
}
.card-img-top{
    height: auto;
}
.page-footer{
    background: #103f6d;
}
